html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Verdana";
    padding: 1em;
}

h1 {
    margin: 0.25em 0 0.75em;
    text-align: center;
}

#tshirt {
    position: relative;
    width: 90vw;
    height: 90vw;
}

#spectrum, #tshirt-artwork, #blank-tshirt-overlay, #tshirt-color {
    position: absolute;
    width: 100%;
    height: 100%;
}

#tshirt-color {
    z-index: 0;
    background-color: blue;
}

#blank-tshirt-overlay {
    z-index: 1;
    background-image: url(blank-tshirt.png);
    background-size: contain;
    opacity: 1;
}

#tshirt-artwork {
    z-index: 2;
    background-image: url(javascript2a.png);
    background-size: 40%;
    background-position: 41% 30%;
    background-repeat: no-repeat;
}

#tshirt-artwork.light {
    filter: invert(100%);
}

#spectrum {
    z-index: 2;
    background-image: url(spectrum.png);
    background-size: 100% 110%;
    background-repeat: no-repeat;
}

#vote {
    width: 90vw;
    height: 15vw;
    margin-top: 5vw;
    font-size: 7.5vw;
}
